<h1>About</h1>
<center>ながのCAKEは全国発送可能なケーキ屋さんです。</center>
<center>お子様からお年寄りの方までお召し上がりいただけるよう、</center>
<center>様々なバリエーションをご用意しております。</center>
<center>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</center>
<center>ぜひご注文ください。</center>